---
---

@import "{{ site.theme }}";

footer {
  display: none;
}

h3 {
  color: darkslategray;
}

a {
  color: darkcyan;
}

a:hover {
  color: cornflowerblue;
}

a:visited {
  color: darkmagenta;
}

div.inner {
  width: min(1080px, 90%);
}

header > h1 {
  font-size: min(48px,13vw);
  > span {
    white-space: nowrap;
  }
}

header > h2 {
  display: inline-block;
  background: -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

table {
  width: unset; 
}

table, td {
  border-color: #424242;
}

th, td {
  padding-left: 1em;
  padding-right: 1em;
}